*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

section{
    width:100%;
}

.headerContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height:15vh;
    width:8vw;
}

.titleHeader{
    color: white;
    font-size: 30px;
    font-weight:400;
}

header img{
    height:6vh;
    width:3vw;
}

.midiasContainer{
    width:15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.inicialContainer{
    width:100%;
    height:85vh;
    display:flex;
    justify-content: center;
    align-items:center; 
}

.majorImg{
    height:40vh;
}

.textContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:5vw;
}

.title{
    font-size:42px;
    font-weight: 700;
    color: #c69552;
}

h2{
    color:white;
    text-align: center;
    font-size: 30px;
    font-weight:400;
    margin-top:5vh;
}

.dash{
    border:solid #c69552;
    width:20vw;
    margin-left:39vw;
    margin-top:1.5vh;
}

.firstContainer{
    height:65vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:7vh;
}

.firstText{
    color:#FFFF;
    width:37vw;
    font-size:20px;
    line-height: 6vh;
    text-align: center;
}

.firstImg{
    height:55vh;
}

.secondContainer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:7vh;
}

.secondImg{
    height:55vh;
}

.secondText{
    color:#FFFF;
    width:35vw;
    font-size:20px;
    line-height: 5vh;
    text-align: center;
}

.lingTitle{
    margin-top:10vh;
}

.lingContainer{
    height:70vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top:11vh;
}


.firstRow{
    width:80%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.lingContainer figure{
    width:10vw;
    height:25vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border:solid #c69552;
    border-radius: 25% 0 0 0;
    opacity: 0.6;
}

.lingContainer img{
    height:14vh;
}

.secondRow{
    width:45%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}